@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

body {
  font-family: 'Avenir';
  font-size: 1.6em;
  color: #666666;
 }
 
 /* images */
 
 img {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 }
 
 img#imgBanner {
 	height: 300px;
 	width: 300px;
 }
 
 img#imgQuote_2 {
     margin-top: 40px;
     margin-bottom: 40px;
  }
  
 img#imgNetwork_1{
     margin-top: 50px;
}

 img#imgLine{
 	 margin-top: 30px;
 	 margin-bottom: 30px;
}
 
 img#imgHover_1{
 	 margin-top: 130px;
 	 margin-bottom: 130px;
}
 
 /* divs */
 
 div#divBanner {
 background-color: #005468;
 height: 300px;
 width: 100%;
 position: absolute;
 left: 0;
 top: 0;
 }
 
 div#divMain {
 background-color: #ffffff;
 margin-top: 350px
 height: 3500px;
 position: relative;
 top: 300px;
 }
 
 div#divDetail {
  min-height: 500px;   
  position: relative;
  top: 300px;
  
  }
  
  div#divImg1 {
    position: relative;
    top: -150px;
    left: 600px;
    height: 100px;
    width: 100px;
  }
    
 /* inputs */
 input#mainSearch {
     display: block;
     margin-left: auto;
 	 margin-right: auto;
 	 width: 1400px;
 	 margin-bottom: 30px;
 	 margin-top: 0;
 	 text-align: center;
 	 color: rgba(0,84,104,0.4);
 	 border: rgba(0,84,104,0.4) solid 1px;
}

btn#btn_Search {
     display: block;
     margin-left: auto;
 	 margin-right: auto;
 	 color: #005468;
}
 
h1 {
  font-family: 'Avenir';
  font-weight: 500;
  line-height: 1.1;
  color: #005468;
  text-align: center;
  margin-bottom: 50px;
 
}

h1#h1_Bids {
margin-top: 40px;
}

p {
margin-bottom: 40px;
}

#plot1 {
  font-family: 'Avenir';
  font-size: 1.6em;
  color: #666666;
}